<!--------------------------------------
    HEADER
    --------------------------------------->
<header>
  <div class="navbar">
    <a href="{% url 'home' %}" class="brand">Logo</a>
    <div class="auth-buttons">
      <div class="navigation-items">
        {% if not request.user.is_authenticated %}
          <a style="font-weight: bold" href="{% url 'accounts:login' %}">Log In</a>
          <a style="font-weight: bold" href="{% url 'accounts:register' %}">Sign Up</a>
        {% else %}
          <a style="font-weight: bold" href="{% url 'accounts:profile' %}">Profile</a>
          <a style="font-weight: bold" href="{% url 'accounts:logout' %}">Log Out</a>
        {% endif %}
        <a href="#" style="font-size: 24px" class="far">&#xf2bd;</a>
      </div>
    </div>
    <div class="menu-btn"></div>
    <div class="navigation" style="">
      <div class="navigation-items">
        <a style="font-weight: bold" href="{% url 'post:index' %}">Blog</a>
        <a style="font-weight: bold" href="{% url 'trainer:index' %}">Trainers</a>
        <a style="font-weight: bold" href="{% url 'feedback:index' %}">Feedback</a>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->
